# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

config ZMK_SPLIT_ROLE_CENTRAL
    default y
    
if SHIELD_LEFT

config ZMK_KEYBOARD_NAME
	default "asym_left"
	    
endif

if SHIELD_RIGHT

config ZMK_KEYBOARD_NAME
	default "asym_right"
    
endif


