# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

#とりあえず何も触らない
#変更するとすればtiny20_left(right)のところだけど
#この値がどこで定義されているのか不明
config SHIELD_TINY_LEFT
	def_bool $(shields_list_contains,asym_ble_left)

config SHIELD_TINY_RIGHT
	def_bool $(shields_list_contains,asym_ble_right)
