# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

# 左シールド
if SHIELD_LEFT
	# キーボード名
	config ZMK_KEYBOARD_NAME
		default "asym_ble"
	# セントラル設定
	config ZMK_SPLIT_ROLE_CENTRAL
		default y
endif

if SHIELD_LEFT || SHIELD_RIGHT
	# 分割設定
	config ZMK_SPLIT
		default y
endif
